/*Navbar Style*/
.navbar {
	background-color: #145374;
}
li {
	margin-left: 2rem;
}
li.active a {
	font-weight: bold;
	opacity: 100%;
}
a {
	color: white;
	opacity: 60%;
	transition: opacity 0.1s ease-in-out;
}
.show .dropdown-toggle {
	color: white;
	text-decoration: none;
	opacity: 90%;
	transition: opacity 0.1s ease-in-out;
}
a:hover {
	color: white;
	text-decoration: none;
	opacity: 90%;
	transition: opacity 0.1s ease-in-out;
}
h2 {
	font-weight: bold;
	margin-bottom: 0;
}
.dropdown-menu {
	background-color: #888888;
	border-radius: 8px;
}
.dropdown-menu a {
	color: white;
	opacity: 100%;
}
.dropdown-menu a:hover {
	background: rgba(20, 83, 116, 0.7);
	border-radius: 8px;
	color: white;
	opacity: 100%;
}
.modal-dialog {
	margin: 0 auto;
	top: 30%;
	width: 25%;
}
.modal-content {
	text-align: center;
	width: 80%;
	margin: auto;
}
.modal-content b {
	display: flex;
	justify-content: center;
	margin: 1.5rem 0 .5rem 0;
}
.modal-footer {
	border: none;
	justify-content: center;
}
.modal-footer button.btn {
	margin: 0 .1rem 0 .1rem;
	width: 50%;
	border-radius: 8px;
	border: none;
	color: white;
}
.modal-footer button.btn[type="submit"] {
	background: #B70E0E;
}
.modal-footer button.btn[type="submit"]:hover {
	background: maroon;
}
.modal-footer button.btn[type="button"] {
	background: rgba(136, 136, 136, 0.8);
}
.modal-footer button.btn[type="button"]:hover {
	background: rgba(136, 136, 136, 1);
}